# Dependencies
node_modules/

# Build
dist/
out-tsc/
.angular/

# Testing
coverage/
cypress/videos/
cypress/screenshots/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.log
npm-debug.log*
